<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>针对班级指定排课规则</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/diy.css">
</head>
<body class="body_class">
    <div class="row path_btn">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a href="#/start_input" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课表信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#/turn_subject" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课程信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" href="#/turn_teacher" class="btn btn-default" aria-label="Right Align">输入教师信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#/turn_class" name="top_turn" class="btn btn-default" aria-label="Right Align">输入班级信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" class="btn btn-info" aria-label="Right Align">输入排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#/turn_make_card" name="top_turn" class="btn btn-default" aria-label="Right Align">开始排课
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row path_btn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-6">
                <a name="top_turn" href="#/turn_teacher_rule" class="btn btn-default" aria-label="Right Align">针对教师指定排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-info" aria-label="Right Align">针对班级指定排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-2 path_btn">
            <div class="col-md-10">
				<div class="panel-group" id="class_box">
                {% for key, value in items.items %}
				<div class="panel panel-default">
					<div class="panel-heading">
						 <p name="class_type_grade_name_div" class="panel-title" data-toggle="collapse" data-parent="#class_box" href="#{{ key }}">{{ key }}</p>
					</div>
					<div id="{{ key }}" class="panel-collapse collapse">
                        {% for one_class_type in value %}
						<div name="class_type_grade_name_div" class="panel-body">
							{{ key }}|{{ one_class_type }}
						</div>
                        {% endfor %}
					</div>
				</div>
                {% endfor %}
			    </div>
			</div>
            <div class="col-md-10">
                <a name="top_turn" href="#/turn_make_card" class="form-control btn btn-info">下一步</a>
            </div>
        </div>
        <div class="col-md-5" id="add_rule_box" style="display: none;">
            <div class="row">
                <h4 class="text-center" id="class_type_grade_name"></h4>
            </div>
            <div class="row li_top_min">
                <h5>固定上：</h5>
            </div>
            <div class="row li_top_min">
                {% for subject in subjects %}
                <div class="col-md-2">
                    <input id="{{ subject.subject_name }}" type="radio" name="class_name" value="{{ subject.subject_name }}">
                    <label for="{{ subject.subject_name }}">{{ subject.subject_name }}</label>
                </div>
                {% endfor %}
                <div class="col-md-2">
                    <input id="rest" type="radio" name="class_name" value="">
                    <label for="rest">清除排课安排</label>
                </div>
            </div>
            <div class="row li_top_min">
                <table class="table table-bordered table_border_color">
                    <thead>
                        <tr>
                            <th></th>
                            {% for column_card in column_cards %}
                            <th>{{ column_card.column_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in row_cards %}
                        <tr>
                            <td name="head_cell">{{ row.row_name }}</td>
                            {% for column in column_cards %}
                            <td name="0"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h5 class="text-center" id="error_txt1"></h5>
                    <h5 class="text-center" id="error_txt2"></h5>
                </div>
            </div>
            <div class="row li_top_lg">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button id="save_rule" class="form-control btn btn-info">保存</button>
                    </div>
                    <div class="col-md-3">
                        <button id="close" class="form-control btn btn-info">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $("td").attr('class','text-center');
    $("[name='class_type_grade_name_div']").click(function () {
        $("td").each(function () {
            if($(this).attr('name').trim() != 'head_cell')
            {
                $(this).text('');
            }
        })
        let grade_type = $(this).text();
        $.ajax(
            {
                url: /get_class_rule/,
                type: 'POST',
                data: {'grade_type': grade_type.trim()},
                success: function (data) {
                    if(data.status == 200)
                    {
                        for(let i=0;i<data.item_cells.length;i++)
                        {
                            $("tbody").children().eq(data.item_cells[i].y).children().eq(data.item_cells[i].x).text(data.item_cells[i].type);
                        }
                    }
                    $("#add_rule_box").css('display','block');
                    $("#class_type_grade_name").empty().append(grade_type);
                    $('#error_txt1').empty();
                    $('#error_txt2').empty();
                }
            }
        )
    })
    let cell_subject = '';
    $("[name='class_name']").click(function () {
        cell_subject = $(this).val();
    })
    $("td").click(function () {
        if($(this).attr('name') != 'head_cell')
        {
            $(this).empty().append(cell_subject);
        }else
        {
            let old = $(this).text();
            $(this).nextAll().empty().append(cell_subject);
            $(this).empty().append(old);
        }
    })
    $("th").click(function () {
        let column_index = $(this).index();
        $("tbody tr").each(function () {
            $(this).children().eq(column_index).empty().append(cell_subject);
        })
    })
    $("#save_rule").click(function () {
        let grade_or_type = $("#class_type_grade_name").text();
        let items = [];
        $("td").each(function () {
            if($(this).text() != '' && $(this).attr('name') != 'head_cell')
            {
                let one_tr = {};
                one_tr.x = $(this).index();
                one_tr.y = $(this).parent().children().eq(0).text().trim();
                one_tr.type = $(this).text().trim();
                items.push(one_tr);
            }
        })
        $.ajax(
            {
                url: /save_class_rule/,
                type: 'POST',
                data: JSON.stringify({'grade_or_type': grade_or_type.trim(), 'items': items}),
                success: function (data) {
                    if(data.status == 200)
                    {
                        $("#add_rule_box").css('display','none');
                        $("#teacher_name").empty();
                        $('#error_txt1').empty();
                        $('#error_txt2').empty();
                    }else
                    {
                        let high_txt = '';
                        for(let i=0;i<data.high_hour.length;i++)
                        {
                            if(i == data.high_hour.length - 1)
                            {
                                high_txt += data.high_hour[i].subject_name
                            }else
                            {
                                high_txt += data.high_hour[i].subject_name + '、'
                            }
                        }
                        let no_subject = '';
                        for(let i=0;i<data.no_subject.length;i++)
                        {
                            if(i == data.no_subject.length - 1)
                            {
                                no_subject += data.no_subject[i].subject_name
                            }else
                            {
                                no_subject += data.no_subject[i].subject_name + '、'
                            }
                        }
                        if(high_txt != '')
                        {
                            $('#error_txt1').empty().append('以下固定上课程课时超过事先安排课程课时：' + high_txt);
                        }else
                        {
                            $('#error_txt1').empty();
                        }
                        if(no_subject != '')
                        {
                            $('#error_txt2').empty().append('以下固定上课程不在事先安排课程内：' + no_subject);
                        }else
                        {
                            $('#error_txt2').empty();
                        }
                    }
                }
            }
        )
    })
    $("[name='top_turn']").click(function () {
        $(this).attr('href', $(this).attr('href').replace('#', ''));
    })
    $("#close").click(function () {
        $("#add_rule_box").css('display','none');
        $("#teacher_name").empty();
        $('#error_txt1').empty();
        $('#error_txt2').empty();
    })
</script>
</body>
</html>