<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>针对教师指定排课规则</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/diy.css">
</head>
<body class="body_class">
    <div class="row path_btn">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a href="#/start_input" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课表信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#/turn_subject" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课程信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" href="#/turn_teacher" class="btn btn-default" aria-label="Right Align">输入教师信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#/turn_class" name="top_turn" class="btn btn-default" aria-label="Right Align">输入班级信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <button name="top_turn" class="btn btn-info" aria-label="Right Align">输入排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </button>
            </div>
            <div class="col-md-2">
                <a href="#/turn_make_card" name="top_turn" class="btn btn-default" aria-label="Right Align">开始排课
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row path_btn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-6">
                <button class="btn btn-info" aria-label="Right Align">针对教师指定排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </button>
            </div>
            <div class="col-md-6">
                <a href="#/turn_class_rule" name="top_turn" class="btn btn-default" aria-label="Right Align">针对班级指定排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-2 path_btn">
            {% for group in groups %}
            <button name="teacher_name_div" class="form-control btn btn-info li_top_min">{{ group.group_name }}</button>
            {% endfor %}
            <a name="top_turn" class="form-control btn btn-info path_btn" href="#/turn_class_rule">下一步</a>
        </div>
        <div class="col-md-5" id="add_rule_box" style="display: none;">
            <div class="row">
                <h4 class="text-center" id="teacher_name"></h4>
            </div>
            <div class="row">
                <h5 class="text-center">选择固定上或固定不上某节课按钮，在空课程表上点击相应课时，则在排课时，将固定为该教师排或不排该课时。</h5>
            </div>
            <div class="row li_top_min">
                <div class="col-md-3">
                    <input id="class_true" type="radio" name="class_tf" value="0">
                    <p class="btn btn-success">固定上某节课</p>
                </div>
                <div class="col-md-3">
                    <input id="class_false" type="radio" name="class_tf" value="1">
                    <p class="btn btn-danger">固定不上某节课</p>
                </div>
                <div class="col-md-3">
                    <input id="class_false" type="radio" name="class_tf" value="2">
                    <p class="btn btn-default">清除某节课颜色</p>
                </div>
            </div>
            <div class="row li_top_min">
                <table class="table table-bordered table_border_color">
                    <thead>
                        <tr>
                            <th></th>
                            {% for column_card in column_cards %}
                            <th>{{ column_card.column_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in row_cards %}
                        <tr>
                            <td name="head_cell">{{ row.row_name }}</td>
                            {% for column in column_cards %}
                            <td name="0"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button id="save_rule" class="form-control btn btn-info">保存</button>
                </div>
            </div>
        </div>
    </div>
<script>
    let green_color = '#5cb85c';
    let red_color = '#d9534f';
    let cell_color = '';
    let type = 0;
    $("[name='class_tf']").click(function () {
        let color_number = $("[name='class_tf']:checked").val();
        if(Number(color_number) == 0)
        {
            cell_color = green_color;
            type = 1;
        }else if (Number(color_number) == 1)
        {
            cell_color = red_color;
            type = -1;
        }else
        {
            cell_color = '';
            type = 0;
        }
    })
    $("td").click(function () {
        $(this).css('background-color',cell_color);
        $(this).attr('name', type);
    })
    $("th").click(function () {
        let column_index = $(this).index();
        $("tbody tr").each(function () {
            $(this).children().eq(column_index).css('background-color',cell_color);
        })
    })
    $("[name='head_cell']").click(function () {
        $(this).nextAll().css('background-color',cell_color);
        $(this).css('background-color','');
    })
    $("[name='teacher_name_div']").click(function () {
        $("td").each(function () {
            if($(this).attr('name').trim() != 'head_cell')
            {
                $(this).css('background-color', '');
                $(this).attr('name', '');
            }
        })
        let group = $(this).text();
        $.ajax(
            {
                url: /get_teacher_rule/,
                type: 'POST',
                data: {'group': group},
                success: function (data) {
                    if(data.status == 200)
                    {
                        for(let i=0;i<data.color_cells.length;i++)
                        {
                            if(data.color_cells[i].type == '1')
                            {
                                $("tbody").children().eq(data.color_cells[i].y).children().eq(data.color_cells[i].x).css('background-color', green_color);
                            }else
                            {
                                $("tbody").children().eq(data.color_cells[i].y).children().eq(data.color_cells[i].x).css('background-color', red_color);
                            }
                        }
                    }
                    $("#add_rule_box").css('display','block');
                    $("#teacher_name").empty().append(group);
                }
            }
        )
    })
    $("#save_rule").click(function () {
        let group = $("#teacher_name").text();
        let items = [];
        $("td").each(function () {
            if($(this).attr('name') != '0' && $(this).attr('name') != 'head_cell')
            {
                let one_tr = {};
                one_tr.x = $(this).index();
                one_tr.y = $(this).parent().children().eq(0).text().trim();
                one_tr.type = 0;
                if($(this).attr('name') == '1')
                {
                    one_tr.type = 1;
                }else if($(this).attr('name') == '-1')
                {
                    one_tr.type = -1;
                }
                items.push(one_tr);
            }
        })
        $.ajax(
            {
                url: /save_teacher_rule/,
                type: 'POST',
                data: JSON.stringify({'group': group.trim(), 'items': items}),
                success: function (data) {
                    if(data.status == 200)
                    {
                        $("#add_rule_box").css('display','none');
                        $("#teacher_name").empty();
                    }
                }
            }
        )
    })
    $("[name='top_turn']").click(function () {
        if($("#add_rule_box").css('display') == 'block')
        {
            alert("请先保存上一次添加结果。");
        }else
        {
            $(this).attr('href', $(this).attr('href').replace('#', ''));
        }
    })
</script>
</body>
</html>