<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>添加班级</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/diy.css">
</head>
<body class="body_class">
    <div class="row path_btn">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a href="/start_input" class="btn btn-default" aria-label="Right Align">输入课表信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_subject"  class="btn btn-default" aria-label="Right Align">输入课程信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_teacher" class="btn btn-default" aria-label="Right Align">输入教师信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-info" aria-label="Right Align">输入班级信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_teacher_rule" name="top_turn" class="btn btn-default" aria-label="Right Align">输入排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" href="/turn_make_card" class="btn btn-default" aria-label="Right Align">开始排课
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row path_btn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-4">
                <button class="btn btn-info" aria-label="Right Align">添加班级
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </button>
            </div>
            <div class="col-md-4">
                <a href="/turn_class_hour" class="btn btn-default" aria-label="Right Align">分配课程及课时
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/turn_class_edit" class="btn btn-default" aria-label="Right Align">班级信息及调整
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <button id="add_class" class="form-control btn btn-info">添加班级</button>
        </div>
    </div>
    <div class="row li_top_min">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-bordered table_border_color">
                <thead>
                    <tr>
                        <th>班级名称</th>
                        <th>所属班级类型</th>
                        <th>所属年级</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                {% if has_class %}
                    {% for class_normal in class_normals %}
                        <tr>
                            <td>{{ class_normal.class_name }}</td>
                            <td>{{ class_normal.class_type.type_name }}</td>
                            <td>{{ class_normal.class_grade.grade_name }}</td>
                            <td><button name="delete" class="btn btn-danger">删除</button></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="add_class_box" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <h4 class="modal-title text-center">添加班级</h4>
                    </div>
                    <div class="row">
                        <h5 class="text-center">选择对应的年级和班级类型，输入需添加的班级数，将自动生成班级。</h5>
                    </div>
                    <div class="row">
                        <h5 class="text-center">例：高一音乐班5个班。选中高一、音乐班，输入5，点击保存，即可自动生成。</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h5>所属年级：</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div id="grade_box" class="col-md-8">
                            {% for grade in grades %}
                            <div class="col-md-3">
                                <input type="radio" id="{{ grade.grade_name }}" name="grade" value="{{ grade.grade_name }}">
                                <label for="{{ grade.grade_name }}">{{ grade.grade_name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h5>所属班级类型：</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" id="class_type_box">
                            {% for class_type in class_types %}
                            <div class="col-md-4">
                                <input type="radio" id="{{ class_type.type_name }}" name="class_type" value="{{ class_type.type_name }}">
                                <label for="{{ class_type.type_name }}">{{ class_type.type_name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                                <button id="add_class_type" class="form-control">+</button>
                        </div>
                    </div>
                    <div class="row li_top_min">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">添加班级数：</span>
                                <input id="class_number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <button id="class_go_on" class="form-control">保存并继续</button>
                        </div>
                        <div class="col-md-4">
                            <button id="class_save_end" class="form-control">取消</button>
                        </div>
                    </div>
                    <div class="row">
                        <h5 id="class_error_txt" class="text-center"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_class_type_box" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">添加班级类型</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">班级类型名称：</span>
                                <input id="class_type_name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h5>所属年级：</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div id="grade_box" class="col-md-8">
                            {% for grade in grades %}
                            <div class="col-md-3">
                                <input type="radio" id="type_{{ grade.grade_name }}" name="type_grade" value="{{ grade.grade_name }}">
                                <label for="type_{{ grade.grade_name }}">{{ grade.grade_name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <button id="class_type_go_on" class="form-control">保存并继续</button>
                        </div>
                        <div class="col-md-4">
                            <button id="class_type_save_end" class="form-control">取消</button>
                        </div>
                    </div>
                    <div class="row">
                        <h5 id="class_type_error_txt" class="text-center"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button id="save_class" class="form-control btn btn-info">下一步</button>
            </div>
        </div>
    </div>
    <a href="/turn_class_hour"><span id="turn"></span></a>
<script>
    $("#add_class").click(function () {
        $("#add_class_box").modal("show");
    })
    $("#add_class_type").click(function () {
        $("#add_class_type_box").modal("show");
    })
    $("#class_type_go_on").click(function () {
        let class_type_name = $("#class_type_name").val();
        let grade = $("[name='type_grade']:checked").val();
        if(class_type_name != "" && class_type_name != null)
        {
            $.ajax(
                {
                    url: /save_class_type_info/,
                    type: 'POST',
                    data: {'class_type_name': class_type_name, 'grade': grade},
                    success: function (data) {
                        if(data.status == 200)
                        {
                            $("#class_type_box").append("<div class=\"col-md-4\">\n" +
                                "                                <input type=\"radio\" id='"+class_type_name+"' name=\"class_type\" value='" + class_type_name + "'>\n" +
                                "                                <label for='"+class_type_name+"'>" + class_type_name + "</label>\n" +
                                "                            </div>")
                            $("#class_type_name").val("");
                        }else
                        {
                            $("#class_type_error_txt").empty().append('已存在相同班级类型');
                        }
                    }
                }
            )
        }else
        {
            $("#class_type_error_txt").append("请检查信息是否完整");
        }
    })
    $("#class_type_save_end").click(function () {
        $("#add_class_type_box").modal("hide");
    })
    $("#class_go_on").click(function () {
        let grade = $("[name='grade']:checked").val();
        let class_type = $("[name='class_type']:checked").val();
        let class_number = $("#class_number").val();
        if(grade != '' && grade != null && class_type != null && class_type != '' && Number(class_number) > 0)
        {
            $.ajax(
                {
                    url: /save_class_info/,
                    type: 'POST',
                    data: JSON.stringify({'grade': grade, 'class_type': class_type, 'class_number': class_number}),
                    success: function (data) {
                        if(data.status == 200)
                        {
                            let trs = '';
                            for(let i=1;i<=Number(class_number);i++)
                            {
                                trs += "<tr name='one_class_info'>\n" +
                                        "                        <td>"+grade+class_type+(i+data.has_class_number)+"班</td>\n" +
                                        "                        <td>"+class_type+"</td>\n" +
                                        "                        <td>"+grade+"</td>\n" +
                                        "                        <td><button name=\"delete\" class=\"btn btn-danger\">删除</button></td>\n" +
                                        "                    </tr>"
                            }
                            $('tbody').append(trs);
                            $("#class_number").val("");
                        }
                    }
                }
            )
        }else
        {
            $("#class_error_txt").append("请检查信息是否完整")
        }
    })
    $("#class_save_end").click(function () {
        $("#class_number").val("");
        $("#add_class_box").modal("hide");
    })
    $(document).on('click','[name="delete"]',function () {
        let class_name = $(this).parent().parent().children().eq(0).text();
        let current = $(this).parent().parent();
        $.ajax(
            {
                url: /delete_class_normal/,
                type: 'POST',
                data: {'class_name': class_name},
                success: function (data) {
                    if(data.status == 200)
                    {
                        current.remove();
                    }
                }
            }
        )
    })
    $("#save_class").click(function () {
        $("#turn").click()
    })
</script>
</body>
</html>