<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>分配课程及课时</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/diy.css">
</head>
<body class="body_class">
    <div class="row path_btn">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a href="#/start_input" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课表信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#/turn_subject" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课程信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" href="#/turn_teacher" class="btn btn-default" aria-label="Right Align">输入教师信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" class="btn btn-info" aria-label="Right Align">输入班级信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#/turn_teacher_rule" name="top_turn" class="btn btn-default" aria-label="Right Align">输入排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" href="#/turn_make_card" class="btn btn-default" aria-label="Right Align">开始排课
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row path_btn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-4">
                <a name="top_turn" href="#/turn_class" class="btn btn-default" aria-label="Right Align">添加班级
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info" aria-label="Right Align">分配课程及课时
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a name="top_turn" href="#/turn_class_edit" class="btn btn-default" aria-label="Right Align">班级信息及调整
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="text-center">在为年级添加课程后，该年级下所有班级都会分配同样的课程，无需在下属分类中，重复添加课程。具体操作如下例所示：</h4>
            <h4 class="text-center">例：所有高一班级都需上语文5节，其中体育班地理需上4节，
                音乐班地理需上3节。则，先点击高一，在右方出现的部分内，为高一整个年级分配语文课5节。
                之后点击高一体育班，只需在地理课程中输入4节，即可完成对体育班的课程分配。</h4>
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-3 path_btn">
            <div class="col-md-10 path_btn">
			<div class="panel-group" id="class_box">
                {% for key, value in items.items %}
				<div class="panel panel-default">
					<div class="panel-heading">
						 <p name="class_name_div" class="panel-title" data-toggle="collapse" data-parent="#class_box" href="#{{ key }}">{{ key }}</p>
					</div>
					<div id="{{ key }}" class="panel-collapse collapse">
                        {% for one_class_type in value %}
						<div name="class_name_div" class="panel-body">
							{{ key }}|{{ one_class_type }}
						</div>
                        {% endfor %}
					</div>
				</div>
                {% endfor %}
			</div>
        </div>
        </div>
        <div id="class_hour_box" style="display: none;" class="col-md-5 li_top_lg">
            <div class="row path_btn">
                <h4 class="text-center" id="class_type_name"></h4>
            </div>
            <div class="row path_btn">
                {% for subject in subjects %}
                <div class="col-md-6 li_top_min">
                    <div class="input-group">
                        <span class="input-group-addon">{{ subject.subject_name }}</span>
                        <input id="{{ subject.subject_name }}" name="hour_number" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">节</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h5 id="save_error_txt" class="text-center"></h5>
                </div>
            </div>
            <div class="row path_btn">
                <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button id="save" class="form-control btn btn-info">保存</button>
                    </div>
                    <div class="col-md-3">
                        <button id="close" class="form-control btn btn-info">取消</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button id="btn_turn" class="form-control btn btn-info">下一步</button>
            </div>
        </div>
    </div>
    <a href="/turn_class_edit"><span id="turn"></span></a>
<script>
    $("[name='class_name_div']").click(function () {
        let class_type_name = $(this).text();
            $("[name='hour_number']").val("");
            $.ajax(
                {
                    url: /get_class_hour/,
                    type: 'POST',
                    data: {'grade_type': class_type_name.trim()},
                    success: function (data) {
                        $("[name='hour_number']").each(function () {
                            for(let i=0;i<data.items.length;i++)
                            {
                                if($(this).prev().text().trim() == data.items[i].subject_name)
                                {
                                    $(this).val(data.items[i].number);
                                    $("#save_error_txt").empty();
                                }
                            }
                        })
                    }
                }
            )
            $("#class_hour_box").css('display','block');
            $("#class_type_name").empty().append(class_type_name);
    })
    $("#save").click(function () {
        let class_name = $("#class_type_name").text();
        let subject_hours = []
        $("[name='hour_number']").each(function () {
            let subject = {};
            subject.subject_name = $(this).prev().text();
            subject.number = $(this).val();
            subject_hours.push(subject);
        })
        $.ajax(
            {
                url: /save_subject_hour_info/,
                type: 'POST',
                data: JSON.stringify({'class_name': class_name.trim(), 'subject_hours': subject_hours}),
                success: function (data) {
                    if(data.status == 200)
                    {
                        $("[name='hour_number']").val("");
                        $("#class_hour_box").css('display','none');
                        $("#save_error_txt").empty();
                    }else if(data.status == 300)
                    {
                        $("#save_error_txt").empty().append("课时与规定每周课时不符，规定每周课时"+data.to+"节,本次保存课时为"+data.now+"节");
                    }
                }
            }
        )
    })
    $("#btn_turn").click(function () {
        $("#turn").click();
    })
    $("[name='top_turn']").click(function () {
        $(this).attr('href', $(this).attr('href').replace('#', ''));
    })
    $("#close").click(function () {
        $("[name='hour_number']").val("");
        $("#class_hour_box").css('display','none');
    })
</script>
</body>
</html>