<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>班级调整</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/diy.css">
</head>
<body class="body_class">
    <div class="row path_btn">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a href="/start_input" class="btn btn-default" aria-label="Right Align">输入课表信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_subject"  class="btn btn-default" aria-label="Right Align">输入课程信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_teacher" class="btn btn-default" aria-label="Right Align">输入教师信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-info" aria-label="Right Align">输入班级信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_teacher_rule" class="btn btn-default" aria-label="Right Align">输入排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_make_card" class="btn btn-default" aria-label="Right Align">开始排课
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row path_btn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-4">
                <a href="/turn_class" class="btn btn-default" aria-label="Right Align">添加班级
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/turn_class_hour" class="btn btn-default" aria-label="Right Align">分配课程及课时
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info" aria-label="Right Align">班级信息及调整
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row path_btn">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-bordered table_border_color">
                <thead>
                    <tr>
                        <th>年级</th>
                        <th>班级类型</th>
                        <th>班级名称</th>
                        <th>课程及课时</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                        <tr>
                            <td>{{ item.grade }}</td>
                            <td>{{ item.class_type }}</td>
                            <td>{{ item.class_name }}</td>
                            <td>{{ item.subject_hour }}</td>
                            <td><button class="btn btn-info" name="edit">修改</button></td>
                            <td><button class="btn btn-danger" name="delete">删除</button></td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/turn_teacher_rule" class="form-control btn btn-info">下一步</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit_class_box" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <h4 class="modal-title text-center" id="class_name"></h4>
                        <h5 class="text-center">如某课程无需更改，则无需填写。若需将某课程课时改为0，则直接填写0。</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% for subject in subjects %}
                        <div class="col-md-6 li_top_min">
                            <div class="input-group">
                                <span class="input-group-addon">{{ subject.subject_name }}</span>
                                <input id="chinese_hour" name="hour_number" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-addon">节</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <button id="save_class_edit" class="form-control">保存</button>
                        </div>
                        <div class="col-md-4">
                            <button id="quit" class="form-control">取消</button>
                        </div>
                    </div>
                    <div class="row">
                        <h5 id="class_error_txt" class="text-center"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    let current_element;
    $(document).on('click','[name="delete"]',function () {
        let class_normal_name = $(this).parent().parent().children().eq(2).text();
        let del_btn = $(this)
        $.ajax(
            {
                url: /delete_class_normal/,
                type: 'POST',
                data: {'class_name': class_normal_name},
                success: function (data) {
                    if (data.status == 200)
                    {
                        del_btn.parent().parent().remove();
                    }
                }
            }
        )
    })
    $(document).on('click','[name="edit"]',function () {
        let class_name = $(this).parent().parent().children()[2].innerHTML;
        $("#class_name").empty().append(class_name);
        $("#edit_class_box").modal("show");
        current_element = $(this).parent().parent();
    })
    $("#save_class_edit").click(function () {
        let class_name = $("#class_name").text();
        let subjects = []
        $("[name='hour_number']").each(function () {
            let subject_name = $(this).prev().text();
            let number = $(this).val();
            let subject = {};
            subject.subject_name = subject_name;
            subject.number = number;
            subjects.push(subject);
        })
            $.ajax(
                {
                    url: /update_class_normal/,
                    type: 'POST',
                    data: JSON.stringify({'class_name': class_name,
                        'subjects': subjects}),
                    success: function (data) {
                        if(data.status == 200)
                        {
                            current_element.children().eq(3).text(data.class_hour);
                            $("#edit_class_box").modal("hide");
                        }
                    }
                }
            )
        })
    $("#quit").click(function () {
        $("#edit_class_box").modal("hide");
    })
</script>
</body>
</html>