<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>输入课程信息</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/diy.css">
</head>
<body class="body_class">
    <div class="row path_btn">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a href="/start_input" class="btn btn-default" aria-label="Right Align">输入课表信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-info" aria-label="Right Align">输入课程信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_teacher" class="btn btn-default" aria-label="Right Align">输入教师信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_class" class="btn btn-default" aria-label="Right Align">输入班级信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_teacher_rule" class="btn btn-default" aria-label="Right Align">输入排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_make_card" class="btn btn-default" aria-label="Right Align">开始排课
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row li_top_lg">
        <h3 class="text-center">添加所有需在课程表上出现的课程，包括大扫除、专业课等。可点击右方带有加号的按钮添加课程，点击X号按钮可删除对应课程。</h3>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="subject_box">
            {% for subject in subjects %}
            <div class="col-md-2 li_top_min">
                <div class="input-group">
                    <input name="subject_name" type="button" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{ subject.subject_name }}">
                    <span name="delete_subject" class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row li_top_lg">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <input id="add_subject" type="button" class="form-control" value="+">
        </div>
    </div>
    <div class="row li_top_lg"></div>
    <div class="row li_top_min">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <input id="save_subject" type="button" class="form-control btn btn-info" value="下一步">
        </div>
    </div>
    <div class="row li_top_lg"></div>
    <div id="add_subject_box" style="display: none;">
        <div class="row li_top_lg">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">课程名称:</span>
                    <input id="subject_name" class="form-control">
                </div>
            </div>
        </div>
        <div class="row li_top_min">
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <button id="go_on" class="form-control">保存并继续添加</button>
            </div>
            <div class="col-md-1">
                <button id="save_end" class="form-control">取消</button>
            </div>
        </div>
        <div class="row li_top_min">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <h3 class="text-center" id="error_txt"></h3>
            </div>
        </div>
    </div>
    <a href="/turn_teacher"><span id="turn"></span></a>
    <script>
        $(document).on('click','[name="delete_subject"]',function () {
            let subject_name = $(this).prev().val();
            let current = $(this);
            $.ajax(
                {
                    url: /delete_subject/,
                    type: 'POST',
                    data: {'subject_name': subject_name},
                    success: function (data) {
                        if(data.status == 200)
                        {
                          current.parent().parent().remove();
                        }
                    }
                }
            )
        })
        $("#add_subject").click(function () {
            $("#add_subject_box").css('display','block');
        })
        $("#go_on").click(function () {
            let subject_name = $("#subject_name").val();
            if(subject_name != '' && subject_name != null)
            {
                $.ajax(
                    {
                        url: /save_subject_info/,
                        type: 'POST',
                        data: {'subject_name': subject_name},
                        success: function (data) {
                            if(data.status == 300)
                            {
                                $("#error_txt").empty().append('已存在相同课程。')
                            }else
                            {
                                let subject_str = "<div class='col-md-2 li_top_min'>" +
                                    "<div class='input-group'>" +
                                    "<input name=\"subject_name\" type='button' class='form-control' aria-label='Amount (to the nearest dollar)' value='" + subject_name + "'>\n" +
                                    "<span name='delete_subject' class='input-group-addon'><span class='glyphicon glyphicon-remove'></span></span>\n" +
                                    "</div>\n" +
                                    "</div>";
                                $("#subject_name").val("");
                                $("#subject_box").append(subject_str);
                            }
                        }
                    }
                )
            }else
            {
                $("#error_txt").append("请输入课程名称")
            }
        })
        $("#save_end").click(function () {
            $("#add_subject_box").css('display','none');
        })
        $("#save_subject").click(function () {
            $("#turn").click();
        })
    </script>
</body>
</html>