<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>开始排课</title>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/diy.css">
</head>
<body class="body_class">
    <div class="row path_btn">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a href="/start_input" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课表信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_subject" name="top_turn" class="btn btn-default" aria-label="Right Align">输入课程信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" href="/turn_teacher" class="btn btn-default" aria-label="Right Align">输入教师信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" href="/turn_class" class="btn btn-default" aria-label="Right Align">输入班级信息
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/turn_teacher_rule" name="top_turn" class="btn btn-default" aria-label="Right Align">输入排课规则
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a name="top_turn" class="btn btn-info" aria-label="Right Align">开始排课
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="false"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="start_btn" style="position: absolute;text-align: center;">
        <a id="check_make_card" class="btn btn-info">点击开始生成课表</a>
        <a id="out_card" href="/out_card" class="btn btn-info" style="display: none;">查看生成的课表</a>
        <h5 id="error_txt"></h5>
    </div>
    <script>
        let height = $(window).height();
        let width = $(window).width();
        $("#start_btn").css("width",width / 5 + 'px').css("height",height / 20 + 'px');
        let btn_top = (height - $("#start_btn").height()) / 2 + 'px';
        let btn_left = (width - $("#start_btn").width()) / 2 + 'px';
        $("#start_btn").css("top",btn_top).css("left",btn_left);
        $("#check_make_card").click(function () {
            $("#error_txt").empty()
            $.ajax(
                {
                    url: /check_make_card/,
                    type: 'POST',
                    success: function (data) {
                        if(data.status == 300)
                        {
                            $("#error_txt").empty().append('以下课程教师人数不足，请检查教师信息是否输入完整：'+data.subject)
                        }else
                        {
                            $.ajax(
                                {
                                    url: /make_card/,
                                    type: 'POST',
                                    success: function () {
                                        $("#check_make_card").css('display', 'none');
                                        $("#out_card").css('display', 'block');
                                    }
                                }
                            )
                        }
                    }
                }
            )
        })
    </script>
</body>
</html>